$theme-background: #001c37;
$theme-on-background: #d2e4ff;
$theme-surface: #001c37;
$theme-surface1: #092541;
$theme-surface2: #0e2a47;
$theme-surface3: #142f4d;
$theme-on-surface: #d2e4ff;
$theme-success: #00530a;
$theme-primary: #222a45;
$theme-dark: #001c37;
$theme-success-container: #00530a;
$theme-on-success-container: #96fa89;
$theme-inverse-surface: #d2e4ff;
$theme-neutral: #476386;
$theme-secondary-container: #00487f;
$theme-on-secondary-container: #d2e4ff;
$theme-tertiary: #9d396f;
$theme-on-tertiary: $white;
$bitcoin: #f7931a;
$typescript: #3178c6;
$react-native: #61dafb;
$fdroid: #62b709;

// Set brand colors
$link: $theme-primary;
$text-strong: #001c37;

// Update Bulma's global variables
$family-sans-serif: 'Roboto', sans-serif;
//$grey-dark: $brown;
//$grey-light: $beige-light;
$primary: $theme-primary;

$widescreen-enabled: true;
$fullhd-enabled: true;

// Update some of Bulma's component variables
$body-background-color: #f3f3fa;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import 'bulma/sass/utilities/all';

$addColors: (
  'theme-background': ($theme-background,
    $theme-on-background,
  ),
  'theme-on-background': ($theme-on-background,
    $theme-on-background,
  ),
  // revisar el color del texto
  'theme-surface': ($theme-surface,
    $theme-on-surface,
  ),
  'theme-surface1': ($theme-surface1,
    $theme-on-surface,
  ),
  'theme-surface2': ($theme-surface2,
    $theme-on-surface,
  ),
  'theme-surface3': ($theme-surface3,
    $theme-on-surface,
  ),
  'theme-on-surface': ($theme-on-surface,
    $theme-on-surface,
  ),
  'theme-success-container': ($theme-success-container,
    $theme-on-success-container,
  ),
  'theme-on-success-container': ($theme-on-success-container,
    $theme-on-success-container,
  ),
  'theme-inverse-surface': ($theme-inverse-surface,
    $primary,
  ),
  'theme-tertiary': ($theme-tertiary,
    $theme-on-tertiary,
  ),
  'theme-on-tertiary': ($theme-on-tertiary,
    $theme-on-tertiary,
  ),
  'theme-secondary-container': ($theme-secondary-container,
    $theme-on-secondary-container,
  ),
  'theme-on-secondary-container': ($theme-on-secondary-container,
    $theme-on-secondary-container,
  ),
  'bitcoin': ($bitcoin,
    $black,
  ),
  'typescript': ($typescript,
    $white,
  ),
  'react-native': ($react-native,
    $white,
  ),
  'fdroid': ($fdroid,
    $white,
  ),
);
$colors: map-merge($colors, $addColors);