@import '../common/styles.scss';
@import 'toastify-js/src/toastify.css';
@import 'swiper/swiper-bundle.min.css';

.hero__logo {
  max-width: 300px;
}

.notes-carousel {
  .swiper-wrapper {
    align-items: flex-end;
  }

  .note-item {
    display: flex;
    align-items: flex-end;
  }
}

.section-has-notes {
  padding-bottom: 8px !important;
}

.color-bar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.fdroid-image {
  max-width: 500px;
  width: 100%;
}
