<footer class="footer has-background-theme-background has-text-theme-on-background">
  <div class="content has-text-centered">
    <p>
      <strong class="has-text-theme-on-background">Nostros</strong> by
      <a class="has-text-theme-on-background" href="https://github.com/KoalaSat"><u>KoalaSat</u></a>. The source code of
      Nostros is licensed
      <a class="has-text-theme-on-background" href="https://github.com/KoalaSat/nostros/blob/main/LICENSE">
        <u>Apache 2.0</u>
        </a>.
    </p>
  </div>
</footer>