<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "MobileApplication",
        "name": "Nostros",
        "description": "",
        "operatingSystem": "Android",
        "applicationCategory": "Social Networking",
        "featureList": [
          "Groups",
          "Reactions",
          "Repost",
          "Comments",
          "NIP-05",
          "Mentions",
          "Zaps",
          "Global Feed",
          "Search",
          "Notification center",
          "Search hashtags",
          "Public and private bookmarks",
          "Relay list metadata",
          "Tag paid relays",
          "Silence people"
        ],
        "image": "../images/logo.svg",
        "author": {
          "@type": "Organization",
          "name": "KoalaSat",
          "url": "https://github.com/KoalaSat"
        },
        "datePublished": "2022-10-24",
        "codeRepository": "https://github.com/KoalaSat/nostros/",
        "downloadUrl": [
          "https://apt.izzysoft.de/fdroid/index/apk/com.nostros",
          "https://github.com/KoalaSat/nostros/releases"
        ],
        "installUrl": "https://apt.izzysoft.de/fdroid/index/apk/com.nostros",
        "programmingLanguage": ["TypeScript"],
        "license": {
            "@type": "CreativeWork",
            "name": "Licencia Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0"
        }
      }
</script>
