  <!-- Open Graph Tags -->
  <meta property="og:title" content="Nostros, nostr client for Android" />
  <meta property="og:description" content="nostr is a protocol that allows the creation of an uncensored, decentralized, ad-free social network. Access nostr using Nostros app." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.nostros.net/" />
  <meta property="og:image" content="../images/nostros-og-card-image.png" />

  <!-- Twitter Cards Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Nostros, nostr client for Android" />
  <meta name="twitter:description" content="nostr is a protocol that allows the creation of an uncensored, decentralized, ad-free social network. Access nostr using Nostros app." />
  <meta name="twitter:url" content="https://www.nostros.net/" />
  <meta name="twitter:image" content="../images/nostros-og-card-image.png" />
