<nav class="navbar is-theme-surface1" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="index.html">
      <img src="../images/nostros-horizontal.svg" width="141" height="28" />
    </a>
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a href="index.html" class="navbar-item">Home</a>
      <a href="faq.html" class="navbar-item">FAQ</a>
    </div>
  </div>
</nav>