<div class="notes-carousel">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/01.svg"
          loading="lazy"
          alt="Imagen 1"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/02.svg"
          loading="lazy"
          alt="Imagen 1"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/03.svg"
          loading="lazy"
          alt="Imagen 2"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/04.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/05.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/06.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/07.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/08.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>

    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/10.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/11.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/12.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/13.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/14.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="note-item">
        <img
          class="note-image"
          src="../images/notes/15.svg"
          loading="lazy"
          alt="Imagen 3"
        />
        <div class="swiper-lazy-preloader"></div>
      </div>
    </div>
  </div>
</div>