@import 'bulma.min.css';

:root {
    /*--background: '#001C37';*/
    --background: '#092541';
    --on-background: '#D2E4FF';
    --surface: '#001C37';
    --surface1: '#092541';
    --on-surface: '#D2E4FF';
    --success: '#00530A';
    --primary: '#222A45';
    --dark: '#001C37';
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    src: url(./fonts/MaterialSymbolsOutlined[FILL,GRAD,opsz,wght].woff2) format('woff');
}
.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 20px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

.header {
    background-color: var(--background);
    min-height: 700px;
    display: flex;
    align-items: center;
}

.header__logo{
    max-width: 300px;
}

.fdroid {
    max-width: 100%;
}
